[submodule "image-converter"]
	path = image-converter
	url = https://github.com/kido-luci/image-converter.git
[submodule "fancy-text-generator"]
	path = fancy-text-generator
	url = https://github.com/kido-luci/fancy-text-generator.git
[submodule "json-tools"]
	path = json-tools
	url = https://github.com/kido-luci/json-tools.git
[submodule "qr-tools"]
	path = qr-tools
	url = https://github.com/kido-luci/qr-tools.git
[submodule "pdf-tools"]
	path = pdf-tools
	url = https://github.com/kido-luci/pdf-tools.git
[submodule "tools-home"]
	path = tools-home
	url = https://github.com/kido-luci/tools-home.git
[submodule "tools-router"]
	path = tools-router
	url = https://github.com/kido-luci/tools-router.git
[submodule "unit-converter"]
	path = unit-converter
	url = https://github.com/kido-luci/unit-converter.git
[submodule "hash-tools"]
	path = hash-tools
	url = https://github.com/kido-luci/hash-tools.git
[submodule "timestamp-converter"]
	path = timestamp-converter
	url = https://github.com/kido-luci/timestamp-converter.git
[submodule "encode-decode"]
	path = encode-decode
	url = https://github.com/kido-luci/encode-decode.git
[submodule "color-tools"]
	path = color-tools
	url = https://github.com/kido-luci/color-tools.git
[submodule "password-tools"]
	path = password-tools
	url = https://github.com/kido-luci/password-tools.git
